{% extends 'mainapp/basic.html' %}
{% load static %}
{% block title %}
StockPicker
{% endblock %}
{% block css %}
{% endblock %}
{% block body %}
<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 bgcol p-5">
                <div class="content text-right">
                    <h1 class="display-4 text-white">
                    <img src="../../static/mainapp/company info/logo-animated-hul.svg" width="100%" alt="">
                    </h1>
                    <!-- <span class="pl-5 text-white">"Stay on top of your investments with ease: Track your stocks, your
                        way."</span> -->
                </div>
            </div>
            <div class="col-md-6 p-5">
                <h2>Hindustan Uniliver</h2>
                <p class="main"> Hindustan Unilever Limited (HUL) is a British-owned Indian consumer goods company headquartered in Mumbai.[3] It is a subsidiary of the British company Unilever. Its products include foods, beverages, cleaning agents, personal care products, water purifiers and other fast-moving consumer goods (FMCGs).
                </p>
                <btn class="btn btn-large btn-primary">
                    <a href="https://www.hul.co.in/" style="text-decoration: none; color: inherit;">
                        Read More
                    </a>
                </btn>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 bgcol p-5">
                <div class="content text-right">
                    <h1 class="display-4 text-white">
                    <img src="../../static/mainapp/company info/ril.jpeg" height= "50%" width="100%" alt="">
                    </h1>
                    <!-- <span class="pl-5 text-white">"Stay on top of your investments with ease: Track your stocks, your
                        way."</span> -->
                </div>
            </div>
            <div class="col-md-6 p-5">
                <h2>
                    RELIANCE </h2>
                <p class="main"> Reliance Industries Limited is an Indian multinational conglomerate, headquartered in Mumbai. It has diverse businesses including energy, petrochemicals, natural gas, retail, telecommunications, mass media, and textiles. 
                </p>
                <btn class="btn btn-large btn-primary">
                    <a href="https://www.ril.com/" style="text-decoration: none; color: inherit;">
                        Read More
                    </a>
                </btn>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 bgcol p-5">
                <div class="content text-right">
                    <h1 class="display-4 text-white">
                    <img src="../../static/mainapp/company info/tcs.jpeg" width="100%" alt="">
                    </h1>
                    <!-- <span class="pl-5 text-white">"Stay on top of your investments with ease: Track your stocks, your
                        way."</span> -->
                </div>
            </div>
            <div class="col-md-6 p-5">
                <h2>Tata Consultancy Services</h2>
                <p class="main"> Tata Consultancy Services is an Indian multinational information technology services and consulting company with its headquarters in Mumbai, Maharashtra. It is a part of the Tata Group and operates in 150 locations across 46 countries.
                </p>
                <btn class="btn btn-large btn-primary">
                    <a href="https://www.tcs.com/" style="text-decoration: none; color: inherit;">
                        Read More
                    </a>
                </btn>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 bgcol p-5">
                <div class="content text-right">
                    <h1 class="display-4 text-white">
                    <img src="../../static/mainapp/company info/hdfc.jpeg" width="100%" alt="">
                    </h1>
                    <!-- <span class="pl-5 text-white">"Stay on top of your investments with ease: Track your stocks, your
                        way."</span> -->
                </div>
            </div>
            <div class="col-md-6 p-5">
                <h2>HDFC Bank</h2>
                <p class="main"> HDFC Bank Limited is an Indian banking and financial services company headquartered in Mumbai. It is India's largest private sector bank by assets and world's 10th largest bank by market capitalisation as of April 2021
                </p>
                <btn class="btn btn-large btn-primary">
                    <a href="https://www.hdfcbank.com/" style="text-decoration: none; color: inherit;">
                        Read More
                    </a>
                </btn>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 bgcol p-5">
                <div class="content text-right">
                    <h1 class="display-4 text-white">
                    <img src="../../static/mainapp/company info/icici.jpeg" width="100%" alt="">
                    </h1>
                    <!-- <span class="pl-5 text-white">"Stay on top of your investments with ease: Track your stocks, your
                        way."</span> -->
                </div>
            </div>
            <div class="col-md-6 p-5">
                <h2>ICICI Bank</h2>
                <p class="main"> ICICI Bank Limited is an Indian multinational bank and financial services company headquartered in Mumbai. It offers a wide range of banking products and financial services for corporate and retail customers through a variety of delivery channels and specialized subsidiaries in the areas of investment banking, life, non-life insurance, venture capital and asset management.
                </p>
                <btn class="btn btn-large btn-primary">
                    <a href="https://www.icicibank.com/" style="text-decoration: none; color: inherit;">
                        Read More
                    </a>
                </btn>
            </div>
        </div>
        
        <div />
</section>
{% endblock %}
{% block js %}
<script>
</script>
{% endblock %}